<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Purchase and Sale</title>
</head>
<body>
	<div align="center">
		
		<form th:action="@{/logout}" method="post">
				<input type="submit" value="Logout" />
			</form>
		
		
		
		<h1>Stock Purchase-Sale Management</h1>
		<a sec:authorize="hasAnyAuthority('USER')" href="newhisseAlim"> New Stock Purchase </a> <br /> <br />
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th sec:authorize="hasAnyAuthority('ADMIN')">Stock ID</th>
					<th>Code</th>
					<th>Name</th>
					<th>Amount</th>
					<th>Total Price</th>
					<th sec:authorize="hasAnyAuthority('USER')" >Actions</th>
				</tr>
			</thead>

			<tbody>


				<tr th:each="userhisse : ${alimsatimlist}">

					<td sec:authorize="hasAnyAuthority('ADMIN')"
						th:text="${userhisse.id}">Stock ID</td>
					<td th:text="${userhisse.code}">Code</td>
					<td th:text="${userhisse.name}">Name</td>
					<td th:text="${userhisse.amount}">Amount</td>
					<td th:text="${userhisse.totalprice}">Total Price</td>

					<td sec:authorize="hasAnyAuthority('USER')" ><a  th:href="@{'/deletehisse/'+ ${userhisse.id}}">
							Stock Sale </a></td>

				</tr>

			</tbody>
		</table>

	</div>




</body>
</html>